* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0D1117;
    color: #f1f5f9;
    line-height: 1.6;
    padding: 40px 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.container header p {
    font-weight: 800;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 3rem;
    color: #FFFFFF;
    border-bottom: 2px solid #3D444D;
}

header p {
    font-size: 1.4rem;
    color: #FFFFFF;
    margin-top: 18px;
}

.career {
    display: inline-block;
    background-color: #212830;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: solid;
    border-color: #3D444D;
    border-width: 2px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 2.2rem;
    border-bottom: 2px solid #3D444D;
    padding-bottom: 5px;
}

.card {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: 0.3s;
    border: solid;
    border-color: #3D444D;
    border-width: 2px;
}

.card p {
    font-size: 18px;
    text-align: left;
}

.card-projects {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: 0.3s;
    border: solid;
    border-color: #3D444D;
    border-width: 2px;
}

.card-projects h3 {
    font-size: 22px
}

.academic-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.academic-title span {
    display: inline-block;
    background-color: #212830;
    padding: 2px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: solid;
    border-color: #3D444D;
    border-width: 2px;
    font-weight: 700;
}

.academic-course {
    font-size: 17px !important
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h3 {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 7px
}

.title p {
    display: inline-block;
    background-color: #212830;
    padding: 2px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: solid;
    border-color: #3D444D;
    border-width: 2px;
    font-weight: 700;
}

.work-sep {
    border: none;
    height: 2px;
    background-color: #3D444D;
}

.description {
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.topics {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.topics > p {
    margin-left: 14px;
    font-size: 16px;
    font-weight: 900 
}
.skills-repo {
    display: inline-block;
    background-color: #212830;
    padding: 2px 12px;
    border-radius: 20px;
    margin: 5px;
    font-size: 0.9rem;
    border: solid;
    border-color: #3D444D;
    border-width: 2px;
    font-weight: 700;
}

.work-icon-img {
    border: solid;
    border-width: 2px;
    border-color: #3D444D;
    padding-right: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.work-icon-img img {
    width: 27px;
    display: flex;
    margin-left: 13px;
    filter: brightness(0) saturate(100%) invert(23%) sepia(6%) saturate(396%) hue-rotate(174deg) brightness(93%) contrast(90%);
}

.skillsRepoSection {

    height: 50px;
    display: flex;
    align-items: center;
}

.card-projects aside {
    display: flex;
    align-items: center;
    height: 30px;
}

.cards-projects aside h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-experience aside h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-experience aside h2 div {
    border: solid;
    border-width: 2px;
    border-color: #3D444D;
    padding-right: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.other-description {
    font-weight: 200 !important;
    font-size: 17px;
}

.cards-projects aside h2 div {
    border: solid;
    border-width: 2px;
    border-color: #3D444D;
    padding-right: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.cards-dropdowm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-education {
    border: solid;
    border-width: 2px;
    border-color: #3D444D;
    padding-right: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.dropdown-education img {
    height: 34px;
    margin-left: 10.9px;
    filter: brightness(0) saturate(100%) invert(23%) sepia(6%) saturate(396%) hue-rotate(174deg) brightness(93%) contrast(90%);

}

.education-module h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-dropdowm img {
    height: 34px;
    margin-left: 10.9px;
    filter: brightness(0) saturate(100%) invert(23%) sepia(6%) saturate(396%) hue-rotate(174deg) brightness(93%) contrast(90%);
}


.language-circle-python {
    width: 17px;
    height: 17px;
    background-color: #3572A5;
    border-radius: 100%;
    margin-right: 7px
}

.language-circle-java {
    width: 17px;
    height: 17px;
    background-color: #B07219;
    border-radius: 100%;
    margin-right: 7px
}

.language-circle-shell {
    width: 17px;
    height: 17px;
    background-color: #89E051;
    border-radius: 100%;
    margin-right: 7px
}

.language-circle-kotlin {
    width: 17px;
    height: 17px;
    background-color: #A97BFF;
    border-radius: 100%;
    margin-right: 7px
}

.language-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 8px;
}

.skills span {
    display: inline-block;
    background-color: #212830;
    padding: 2px 12px;
    border-radius: 20px;
    margin: 5px;
    font-size: 0.9rem;
    border: solid;
    border-color: #3D444D;
    border-width: 2px;
    font-weight: 700;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #94a3b8;
    font-size: 0.9rem;
}

footer p {
    font-size: 18px;
    color: #FFFFFF;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }
}